.vs
# Visual Studio specific
*.VC.db
*.VC.opendb
*.suo
*.user
*.ncb
*.sdf
*.ipch
*.cache
*.ilk
*.log
*.tlog
*.pdb

# Build output
Debug/
Release/
*.obj
*.exe
*.dll
*.lib
*.exp
*.idb
*.o

# Build directories
.x64/
x86/
ARM/
ARM64/
Debug/
Release/
*.ilk
*.idb
*.pdb
*.obj
*.exe
*.dll
*.lib
*.exp
*.log
*.tlog
Ivan_And.cefbff09
*.vcxproj.user